[Desktop Entry]
Type=Application
Name=PageBurger
Comment=Simple, private noting service
Icon=org.hectabit.PageBurger
Exec=pageburger
Categories=Office;WordProcessor
